.datecard{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 20%;
    border: rgb(238, 240, 128) 1px solid;
    box-shadow: 2px 2px 5px gray;
}

.datecard:hover{
    transform: translate(-3px, -3px);
}

.text_description{
    text-transform: capitalize;
    font-family: 'Lemonada', cursive;
    font-size: 15px !important;
}

.text_title{
    font-size: 15px !important;
}

.datelist{
    background-color:rgb(217, 248, 130);
}

.buttoncard{
    position: absolute;
    height: 30%;
    right: 0;
    bottom: 0;
}

.buttoncard:hover{
    background-color: rgb(177, 238, 238) !important;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 3px gray;
    color: black !important;
}

.danger{
    background-color: red;
}

.card{
    height: 100% !important;
}

@media screen and (max-width: 985px){
    .text_description{
        font-size: 10px !important;
    }
    .text_title{
        font-size: 10px !important;
    }
    .buttoncard{
        font-size: 10px !important;
    }

}